behave==1.2.6
boto3==1.9.86
botocore==1.12.86
Click==7.0
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-RESTful==0.3.7
Flask-S3==0.3.3
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
Jinja2==2.11.3
numpy==1.15.4
s3transfer==0.1.13
selenium==3.141.0
SQLAlchemy==1.2.17
Werkzeug==0.14.1
WTForms==2.2.1
