
/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 100%;
    margin: auto;
}

.row-header {
    height: 60px;
}

.row-title {
    width: 100%;
    margin: auto;
    text-align: left;

}


.row-title h3 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 1%;
}

.row-title p {
    color: #dadddf;
    font-size: 12px;

}

.row-cards {
    width: 100%;
    padding: 0%;
    position: relative;
}


.col-125 {
    width: 12.5%;
    float: left;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #262a33;
    font-size: 18px;

}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #15181c;
}

.btn-algorithm {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: center;
    color: white;
    background-color: #262a33;
    font-size: 18px;
}

.btn-algorithm i {
   font-size: 18px;
}


.btn-algorithm:hover,
.btn-algorithm:focus {
    background-color: #15181c;
    color: white;
}

.btn:disabled {
    background-color: #262a33 !important;
    color: #262a33 !important;

}


/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/




.card-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
    width: 98%;
    margin: auto;
    color: white;
    font-size: 1.2rem;
}

.card-data {
    background: #3e4452;
    border-radius: 10px;
    width: 90%;
    margin: auto;

    min-height: 220px;
    padding-top: 5%;
}

.card-data .card-content {
    font-size: 1rem;
    text-align: left;
    color: white;
}

.card-data .card-content b {
    color: white;
    font-weight: normal;
}

.card-data .card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    margin: 10%;
}


.card-grid {
    width: 78%;
    background: #262a33;
    margin:auto;
    border-radius: 10px;
}

#row-grid {
    padding: 4px 4px 0px 4px;
    margin-bottom: 0px;
}

/*------------------------------------------------------------------------------
    EDIT & ADD FORMS + TABLE
------------------------------------------------------------------------------*/


button, input {
font-family: 'Jura', sans-serif;
}


input[type=text],
select,
textarea {
    width: 90%;
    height: 50px;
    padding: 12px;
    border-radius: 10px;
    border-color: #f2f2f2;
    box-sizing: border-box;
    margin: 0px 50px 0px 15px;
    resize: vertical;
    background-color: #f2f2f2;
    color: white;
}

input[type="number"]:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

input[type="number"].valid,
input[type="number"]:focus.valid {
    border-bottom: 1px solid #8B0000;
    box-shadow: 0 1px 0 0 #8B0000;
}

th,
td,
tr {
    color: black;
    height: 36px;
    padding-left: 5px;
    font-size: 12px
}

textarea.materialize-textarea {
    color: black;
}

.select-wrapper input.select-dropdown {
    color: black;
}

input[type="text"]:not(.browser-default) {
    color: black;
}

input[type="text"],
input[type="number"] {
    text-align: center;
}

input[type="number"]:not(.browser-default):focus:not([readonly]),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input.invalid[type="number"]:not(.browser-default) {
    border-bottom: 1px solid #8B0000;
    box-shadow: 0 1px 0 0 #8B0000;

}
input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]) {
    color: white !important;
}

input[type="number"]:not(.browser-default):focus:not([readonly]) + label {
    color: #8B0000;
}


input[type="number"]:not(.browser-default) {
    height: 1.5rem;
    cursor:pointer;
    width: 80%;

}

