<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pathfinder AI</title>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<body>
<!-- WRAPPER -->
<div id="wrapper">



    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand company-logo" href="{{ url_for('dashboard') }}"><img class="company-logo"
                                                                                                src="/static/img/creolabs-white.png"
                                                                                                alt="Creo Labs Logo"/></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/lukaszmalucha/"><i class="fab fa-linkedin"></i> <b>
                Linkedin</b></a></li>
            <li><a class="nav-link" target="_blank" href="https://github.com/LukaszMalucha/Blockchain-Simulation/"><i class="fab fa-github"></i> <b>GitHub</b></a>
            </li>
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown1' id="user_dropdown"><i
                    class="fas fa-caret-down"></i><b>{{ current_user.email }} </b></a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>

    <!-- DROPDOWN -->
    <ul id="dropdown1" class="dropdown-content">
        {% if current_user.email != "Guest" %}
        <li><a href="{{ url_for('userlogout') }}" id="dropdown_link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
        {% else %}
        <li><a href="{{ url_for('userlogin') }}" id="dropdown_link"><i class="fa fa-user fa-fw"></i> Log In</a>
        </li>
        <li><a href="{{ url_for('userregister') }}" id="dropdown_link"><i class="fas fa-tasks"></i> Register</a>
        </li>
        {% endif %}
    </ul>

    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
        <li><a  target="_blank" href="https://www.linkedin.com/in/lukaszmalucha/"><i class="fab fa-linkedin"></i>
            Linkedin</a></li>
        <li><a target="_blank" href="https://github.com/LukaszMalucha/Blockchain-Simulation/"><i class="fab fa-github"></i>GitHub</a>
        </li>
        {% if current_user.email != "Guest" %}
        <li><a href="{{ url_for('userlogout') }}" id="dropdown_link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
        {% else %}
        <li><a href="{{ url_for('userlogin') }}" id="dropdown_link"><i class="fa fa-user fa-fw"></i> Log In</a>
        </li>
        <li><a href="{{ url_for('userregister') }}" id="dropdown_link"><i class="fas fa-tasks"></i> Register</a>
        </li>
        {% endif %}
    </ul>

    <!--/. TOP NAVBAR ****************************************************************************************************************************************************************************************** -->

    <div id="page-index">
        <div class="dashboard-cards">
            <div class="row text-center row-dashboard">
                <div class="card" id="dashboard_card">
                    <div class="row text-center">
                        <h2>Mars Mission</h2>
                    </div>
                    <div class="row text-center">
                        <h5>Mars Rover has finished assigned task and now is just returning to the Base. On the way
                            back it has to also collect the astronauts and avoid Mars desert storms.</h5>
                        <h5> Space Buggy is being navigated by simple & efficient Q-Learning Artificial Intelligence
                            algorithm. Planet Mars is being represented by 8x8 grid.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <br>
            </div>

            {% block content %} {% endblock %}
        </div>
    </div>


</div>
</div>
<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
            $('.dropdown-trigger').dropdown();



</script>

<script>
        $(document).ready(function() {
            $('.sidenav').sidenav();
        });

</script>


</body>

</html>
