{% extends 'base.html' %} {% block content %}
<br>
<div class="row text-center row-dashboard">
    <div class="col-sm-12 col-md-12 col-lg-5 text-center no-padding-left">
        <div class="card command-card">
                <div class="row text-center">
                    <h2>Change Environment</h2>
                </div>
                <div class="row text-center">
                    <a href="{{ url_for('dashboard') }}" class="btn waves-effect waves-light" id="button_command"><i class="material-icons">reply</i></a>
                </div>
        </div>
    </div>
        <div class="col-sm-12 col-md-12 col-lg-7 text-center">
        <div class="card" id="map-card">
        {% for i in range(64) %}
            {% if i == env_dict.start_location %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
                <img src="{{url_for('static', filename='img/mars_buggy.png')}}" class="mars-tile">
            </div>
            {% elif i == env_dict.astronauts %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
                <img src="{{url_for('static', filename='img/mars_collection.png')}}" class="mars-tile">
            </div>
            {% elif i == env_dict.base_location %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
                <img src="{{url_for('static', filename='img/mars_base.png')}}" class="mars-tile">
            </div>
            {% elif i in env_dict.desert_storms %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
                <img src="{{url_for('static', filename='img/mars_storm.png')}}" class="mars-tile">
            </div>
            {% elif i in path %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
                <img src="{{url_for('static', filename='img/mars_path.png')}}" class="mars-tile" id="mars_path">
            </div>
            
            {% else %}
            <div class="col-xs-2 col-sm-2 col-md-2 text-center" id="tile-column">
            <img src="{{url_for('static', filename='img/mars_tile.png')}}" class="mars-tile">
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-md-3 text-center"></div>
    </div>
</div>
    {% endblock %}
